<%- include("partials/header"); -%>

<h1><%= title %></h1>
<p><%= content %></p>
<form  action="/delete" method="post">
    <button type="submit" name="delete" value="<%=id%>" class="btn btn-danger">Delete</button>
</form>
<hr>
<a href="/message/<%=id%>"><button class="btn btn-success">Add Message</button></a>
<%- include("partials/footer"); -%>
